*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wholepage{
    width: 100%;
    height: 100vh;
    background-color: #317874;
    background-position: center;
    background-size: cover;
}
navbar{
    display: flex;
    padding-top: 37px;
    justify-content: space-between;
    padding-left: 98px;
    padding-right: 98px;
    align-items: center;
}
.mylogo{
    font-size: 45px;
    color: #E2D2F9;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 650;
    cursor: pointer;
}
navbar ul li{
    display: inline-block;
    list-style-type: none;
    padding: 40px 60px;
}
ul li a{
    font-size: 25px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #E2D2F9;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #FC766A;
}
a{
    text-decoration: none;
}
.homecontent{
    display: relative;
    padding: 50px;
}
.homecontent h2{
    font-size: 52px;
    color: #E2D2F9;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    top: -33px;
    bottom: 29px;
    
}
.homecontent span{
    color: black;
}
.homecontent h3{
    color: #FC766A;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    position: relative;
    bottom: -1px;
    top: -8px;
}
.homecontent p{
    font-size: 22px;
    color: #E2D2F9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    top: -33px;
    text-align: justify;
}
.homecontent img{
    position: absolute;
    margin-left: 550px;
    bottom: 100px;
    padding: auto auto;
    max-width: 100%;
    height: auto;
    background-size: 80px;
    margin-bottom: 10px;
}
img{
    width: 450px;
    margin-bottom: -10px;
    position:  relative;
    margin-left: 90px;
}
button{
    display: inline-block;
    font-size: 23px;
    font-weight: 200;
    color: #E2D2F9;
    border-radius: 2px solid transparent;
    text-transform: uppercase;
    background: #E2D2F9;
    padding: 10px 23px;
    bottom: -30px;
    top: -6px;
}
button a{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    font-size: 18px;
}
button:hover{
    background: #FC766A;
    border: 2px solid transparent;
    transform: translate(10px);
}


/*About me*/
.aboutme{
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    box-sizing: border-box;
    background-color: #E2D2F9;
}
.me{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.me img{
    width: 350px;
    margin-left: 98px;
}
.aboutme-info{
    display: inline;
    margin-bottom: 25px;
}
.aboutme-info h1{
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 30px;
    text-decoration: solid;
    text-transform: uppercase;
    font-style: initial;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #317874;
}
.aboutme-info h2{
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 38px;
    color: #FC766A;
    font-size: 36px;
}
.aboutme-info p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 2px;
    margin-bottom: 42;
    font-size: 25px;
    font-weight: 450;
    line-height: 40px;
}

/*My Work*/
.myworks{
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    box-sizing: border-box;
    background-color: #317874;
}
.myprojects{
    margin: auto;
    padding: 100px;
    text-align: center;
    margin-bottom: -70px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.myprojects h1{
    color: #E2D2F9;
    font-size: 70px;
    margin-bottom: 50px;
    margin-top: -105px;
}
.samples{
    margin: 2px 0;
    width: 1145px;
    display: flex;
    justify-content: space-between;
    margin-left: 125px;
}
.thesamples{
    box-sizing: border-box;
    background: #FC766A;
    border-radius: 15px;
    padding: 70px 20px;
    flex-basis: 30%;
}
.thesamples h2{
    color: #E2D2F9;
    margin: 15px 0;
    top: -4px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 44px;
}



/*Contact me*/
.contactme{
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    box-sizing: border-box;
    background-color: #E2D2F9;
}
.contactme .heading{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}
.heading h1{
    color: #317874;
    font-weight: 700;
    font-size: 50px;
}
.contactbox{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info" "form map";
    grid: gap 20px;
    margin-top: 2%;
    margin-left: 60px;
    margin-bottom: 100%;
    margin-right: 35%;
    background-color: #FC766A;
    height: 64vh;
}
.contactform{
    padding: 30px;
    color: black;
}
.contactform h3{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-left: 6px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.form{
    grid-area: form;
}
.contactformbox{
    position: relative;
    width: 100%;
}
.contactformbox .firstrow{
    display: flex;
    gap: 22px;
    
    margin-top: 12px;
    width: 100%;
}
.inputinformation span{
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}
.inputinformation input{
    padding: 25px;
    font-size: 22px;
    outline: none;
    border: 1px solid #333;
}
.inputinformation .secondrow{
    display: flex;
    width: 100%;
}
.inputinformation textarea{
    padding: 10px;
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    min-height: 100px;
    border: none;
    border: 1px #333;
    resize: none;
    font-size: 15px;
}
.inputinformation input[type="submit"]{
    background-color: #E2D2F9;
    border: none;
    padding: 16px 18px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;

}
.inputinformation input[type="submit"]:hover{
    color: #FC766A;
}
